
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Создать Новый проект</h4>
      </div>
      <div class="modal-body">
        <input name="project_name" id="project_name" type="text">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary create_project">Создать</button>
      </div>
    </div>
  </div>
</div>