<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="{{ 'bower_components/bootstrap/dist/css/bootstrap.min.css'|staticfile }}">
  <link rel="stylesheet" href="{{ 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css'|staticfile }}">
  <link rel="stylesheet" href="{{ 'bower_components/video.js/dist/video-js.min.css'|staticfile }}">
  <link rel="stylesheet" href="{{ 'bower_components/jq-range-slider/dest/css/iThing-min.css'|staticfile }}">
  <link rel="stylesheet" href="{{ 'bower_components/jquery-ui/themes/black-tie/jquery-ui.min.css'|staticfile }}">
  <link rel="stylesheet" href="{{ 'bower_components/plyr/dist/plyr.css'|staticfile }}">
  <link rel="stylesheet" href="{{ 'css/main.css'|staticfile }}">
</head>
<body>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="#" class="create_project" role="button">Новый проект</a>
            </li>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">Открыть проект <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for project in projects %}
                  {% if not project.active %}
                    <li><a href="#" data-project_id="{{ project.id }}" class="open_project">{{ project.name }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">Удалить проект <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for project in projects %}
                  <li><a href="#" data-project_id="{{ project.id }}" class="delete_project">{{ project.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li>
              <a  href="" id="link" data-bind="true" role="button">О программе</a>

            </li>
          </ul>
        </div>

<h4 class="log">log</h4>
{% block body %}
{% endblock %}

<script src="{{ 'bower_components/jquery/dist/jquery.min.js'|staticfile }}"></script>
<script src="{{ 'bower_components/bootstrap/dist/js/bootstrap.min.js'|staticfile }}"></script>
<script src="{{ 'bower_components/video.js/dist/video.min.js'|staticfile }}"></script>
<script src="{{ 'bower_components/videojs-youtube/dist/Youtube.min.js'|staticfile }}"></script>
<script src="{{ 'bower_components/jquery-mousewheel/jquery.mousewheel.min.js'|staticfile }}"></script>
<script src="{{ 'bower_components/jquery-ui/jquery-ui.min.js'|staticfile }}"></script>
<script src="{{ 'bower_components/jq-range-slider/dest/jQRangeSlider-min.js'|staticfile }}"></script>
<script src="{{ 'bower_components/plyr/dist/plyr.js'|staticfile }}"></script>
<script src="{{ 'bower_components/jquery-textchange/jquery.textchange.js'|staticfile }}"></script>
<script src="{{ 'js/script.js'|staticfile }}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>