{% extends 'base.html' %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th>№</th>
      <th class="search">Поиск(ссылка)</th>
      <th>Позиция в поиске</th>
      <th>Длина видео</th>
      <th>Видео</th>
      <th>Отрезок</th>
      <th>Заголовок в видео</th>
    </tr>
  </thead>
  <tbody class="table_body">
  {% for video in videos %}
    <tr id="tr_{{ loop.index }}">
      <td class="id" data-id="{{ video.id }}">{{ loop.index }}</td>
      <td><input class="form-control query" type="text" value="{{ video.query }}"></td>
      <td><input class="number" data-number="{{ video.number }}" id="number_{{ loop.index }}" value="{{ video.number }}"></td>
      <td>
        <select class="duration" id="duration_{{ loop.index }}" name="duration">
          <option {% if video.duration == 'short' %} selected {% endif %} value="short">Меньше 4мин.</option>
          <option {% if video.duration == 'medium' %} selected {% endif %} value="medium">От 4мин. до 20мин.</option>
          <option {% if video.duration == 'long' %} selected {% endif %} value="long">Больше 20мин.</option>
        </select>
      </td>
      <td class="video_td"><div class="add_video"></div></td>
      <td class="slider_td"></td>
      <td><input class="form-control" type="text"></td>
    </tr>

  {% else %}
    <tr>
      <td class="id" data-id="1">1</td>
      <td><input class="form-control query" type="text"></td>
      <td><input class="number" data-number="1" id="number_1" value="1"></td>
      <td>
        <select class="duration" id="duration_1" name="duration" >
          <option value="short">Меньше 4мин.</option>
          <option value="medium">От 4мин. до 20мин.</option>
          <option value="long">Больше 20мин.</option>
        </select>
      </td>
      <td class="video_td"><div class="add_video"></div></td>
      <td class="slider_td"></td>
      <td><input class="form-control" type="text"></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<input class="btn add_column" type="button" value="Добавить Запись">

<div class="in"></div>


{% include 'modal/new_project_modal.html' %}
{% endblock %}


{% block scripts %}
  {% for video in videos %}
    <script>
      var index = '{{ loop.index }}';
      var parent = $('#tr_'+index);
      set_controls(index, false);
      alert(parent);
      set_video('{{ video.video_id }}', parent);
      alert('wow');
      set_slider('{{ video.slide_max }}', 0, '{{ video.slide_max }}', parent);
    </script>
  {% endfor %}
{% endblock %}